body {
  margin:0;
  min-height:100vh;
  display:flex;
  justify-content:center; /* Centers content horizontally */
  align-items:center;     /* Centers content vertically */
  background: url('../images/utensils.jpg') center / cover no-repeat;

}

.container{
    font-family: "Comic Sans MS", sans-serif;
    place-items:center;
    border:3px solid rgb(144, 181, 64);
    border-radius:10px;
    width:800px;
    height:auto;
    padding-top:50px;
    background: rgb(25, 112, 25);
}

input{
    text-align:center;
    border-radius:8px;
}

img{
    max-height:200px;
    width:auto;
    display:flex;
    justify-content:center;
    border-radius:16px;
}

.country{
    color:rgb(35, 35, 130);
}

h2{
    color:white;
    margin-top:30px;
}

.instructions{
    color:rgb(43, 29, 6);
    line-height:30px;
    padding:0 40px 30px 40px;
    text-decoration-line: underline;
}

.inline{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:10px;
    gap:100px;
}

input::placeholder{
    text-align:center;
    font-style:italic;
}

button{
    width:100px;
    height:31px;
    background-color:rgb(222, 183, 111);
    cursor:pointer;
}

input{
    height:25px;
    width:300px;
}